<script type="text/javascript">
  function confirmDestroyAll() {
    if (!confirm('Are you sure want destroy all Exception logs?')) {
      return false;
    }
  }
</script>
<div class="toolbar d-flex justify-content-between pt-3 pb-1">
  <div class="back-btn">
    <%= link_to '返回首页', '/', class: 'btn btn-success'  %>
  </div>
  <div class="text-light">
    <%= @logs.total_count %> exceptions
  </div>
  <div class="float-right">
    <%= form_tag(all_logs_path, method: 'delete') do %>
      <button type="submit" class="btn btn-outline-primary" onclick="return confirmDestroyAll()">Delete All</button>
    <% end %>
  </div>
</div>

<% if @logs.blank? %>
  <div class="no-record">No exceptions.</div>
<% else %>

  <table class="table table-bordered border-light table-dark">
    <thead>
      <tr >
        <th class="pppp-3">#</th>
        <th class="pppp-3">Summary</th>
        <th class="pppp-3"></th>
      </tr>
    </thead>

    <tbody>
      <% @logs.each do |log| %>
        <tr>
          <td class="pppp-3"><%= log.id %></td>
          <td class="pppp-3"><%= link_to log.title, log, class: 'text-light' %></td>
          <td class="pppp-3"><%= log.created_at.in_time_zone(8).strftime('%F %T') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="digg_pagination" style="background: transparent;">
    <%= will_paginate @posts, :container => false %>
  </div>
<% end %>
